@model GPorject.Models.ViewChangePassWord

@{
	ViewData["Title"] = "修改密码";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="ChangePassWord">
			<input asp-for="ID" hidden />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="PassWord" class="control-label"></label>
				<input asp-for="PassWord" class="form-control" />
				<span asp-validation-for="PassWord" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="newPassWord" class="control-label"></label>
				<input asp-for="newPassWord" class="form-control" />
				<span asp-validation-for="newPassWord" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="修改密码" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
