@{
	ViewData["Title"] = "新建班级";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post" asp-action="ClassesCreate">

			<div class="form-group">
				<label class="control-label" for="Name">班级</label>
				<input class="form-control" type="text" id="Name" name="Name" value="">
				<span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
			</div>
			<div class="form-group">
				<label class="control-label" for="FacultyID">系</label>
				<select class="form-control valid" data-val="true" data-val-required="请选择系" id="FacultyID" name="FacultyID">
					<option value="1">信息工程系</option>
					<option value="2">会计系</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="新建" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="ClassesIndex">返回列表</a>
</div>
